#map {
    width: 100vw;
    height: calc((100vh - 50px));
}
.small {
    width: 10px;
    height: 10px;
}
.mapInnerDiv {
    width: 100vw;
    height: calc((100vh - 50px));
}

.infowindow {
    position: fixed !important;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100px;
    z-index: 999;
}