.dchead {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 10px;
    height: 50px;
    z-index: 999;
  
    p {
      height: 100%;
      font-weight: 500;
      color: #646462;
      line-height: 1;
      font-size: 20px;
      padding: 15px;
    }
  }

  .calendar {

    .days {
        margin: 0 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        width: calc((100vw - 20px));
        height: 50px;
        
      p {
          display: inline-block;
        width: calc((100vw - 20px) / 7);
        color: #008FD7;
        padding-top: 17px;
        padding-bottom: 17px;
        text-align: center;
      }
    }
    .dates {
        margin: 0 10px;
        height: 50px;
        width: calc((100vw - 20px));

        p {
            color: rgba(139, 139, 139, 0.5);
            display: inline-block;
            width: calc((100vw - 20px) / 7);
            text-align: center;
        }
        .checkImg, .xImg {
            max-width: 10vw;
            max-height: 34px;
            margin: auto;
            display: block;
            padding-top: 8px;
          }
          .needsPadding {
              padding-top: 34px;
          }
          #today {
            background: #153F90;
            border-radius: 50%;
            height: 52px;
            padding-top: 18px;
            color: #fff;
          }
    }
  }
  .dcContainer .button {
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
  }
